<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<ol>
    <li><h2>{{game_action}}</h2></li>
    <ul>
        <li> {{ks}} <button>купить</button> </li>
        <li> {{bm}} <button>купить</button> </li>
        <li> {{gow}} <button>купить</button> </li>
    </ul>

    <li><h2>{{game_strategy}}</h2></li>
    <ul>
        <li> {{ants}} <button>купить</button> </li>
        <li> {{aoe}} <button>купить</button> </li>
        <li> {{dune}} <button>купить</button> </li>
    </ul>

    <li><h2>{{game_race}}</h2></li>
    <ul>
        <li> {{to}} <button>купить</button> </li>
        <li> {{carx}} <button>купить</button> </li>
        <li> {{nfs}} <button>купить</button> </li>
    </ul>
</ol>
<br>
<button onclick="location.href='/'"><h4>Вернуться обратно</h4></button>

</body>
</html>